body {
    background: #efefef;
}
#container {
    width: 800px;
    margin:0 auto;
    background: #fefefe;
    padding: 50px;
}

#container input[type='text'] {
    width: 500px;
}


table { text-align: left; border-spacing: 0; width: 100%}
th {border-bottom: 4px solid #eee}
td,th { padding:10px 20px;}

.btn { display: inline-block; width: 200px; height: 40px; text-align: center; margin:10px 30px}